<div *ngIf="movie">
    <div class="container">
        <h4>{{movie.name}}</h4>
        <div class="col-xs-3">
            <div class='row'>
                <img class="img-responsive" src="../../assets/images/{{movie.image}}">
            </div>
            <br />
            <br />
            <div class='row'>
                <button type="button" class="btn btn-primary" (click)="btnClick()">Back </button>
            </div>
        </div>
        <div class="col-xs-6">
            <label>Rating : {{movie.rating}}</label><br />
            <label>Genre : {{movie.genre}}</label><br />
            <label>Summary : {{movie.summary}}</label>
        </div>
    </div>
</div>
